<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DONAR</title>
    <link rel="stylesheet" href="fresh.css">
    <style>
        /* Center-align the iframe */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        iframe {
            width: 80%; /* Adjust as needed */
            max-width: 800px; /* Adjust as needed */
            height: 100%;
        }
    </style>
</head>
<body>
    <iframe src="https://forms.gle/UwfwgoJ4wGH36hur7" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</body>
</html>
